/* 
Valus Landing Page
Shabaz Badshah 
Created: Sunday June 24, 2018
*/

/* Normalize.css Minified - https://necolas.github.io/normalize.css/ */
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;*display:inline;*zoom:1;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}html,button,input,select,textarea{font-family:sans-serif;}body{margin:0;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;margin:0.67em 0;}h2{font-size:1.5em;margin:0.83em 0;}h3{font-size:1.17em;margin:1em 0;}h4{font-size:1em;margin:1.33em 0;}h5{font-size:0.83em;margin:1.67em 0;}h6{font-size:0.75em;margin:2.33em 0;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:bold;}blockquote{margin:1em 40px;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}p,pre{margin:1em 0;}code,kbd,pre,samp{font-family:monospace,serif;_font-family:'courier new',monospace;font-size:1em;}pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word;}q{quotes:none;}q:before,q:after{content:'';content:none;}small{font-size:75%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-0.5em;}sub{bottom:-0.25em;}dl,menu,ol,ul{margin:1em 0;}dd{margin:0 0 0 40px;}menu,ol,ul{padding:0 0 0 40px;}nav ul,nav ol{list-style:none;list-style-image:none;}img{border:0;-ms-interpolation-mode:bicubic;}svg:not(:root){overflow:hidden;}figure{margin:0;}form{margin:0;}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}legend{border:0;padding:0;white-space:normal;*margin-left:-7px;}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle;}button,input{line-height:normal;}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;*overflow:visible;}button[disabled],input[disabled]{cursor:default;}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;*height:13px;*width:13px;}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}


/* https://www.fontsquirrel.com/tools/webfont-generator was used to compress all fonts */

@font-face {
  font-family: 'robotoRegular';
  font-display: auto;
  src: url('roboto-regular-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'kollektifBold';
  font-display: auto;
  src: url('kollektif-bold-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

h2 {
  font-family: 'robotoRegular';
  font-size: 32px;
  font-weight: normal;
}

body, html {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f5f5f5;
  height: 100%;
  width: 100%;
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 50px;
}

h1#subtext {
  width: min-content;
  font-size: 3rem;
  font-style: italic;
  color: white;
  background-color: #edbb5e;
  box-shadow: 0px 0px 2.97px 0.03px rgba(0, 0, 0, 0.15);

  border-radius: 5px;
  padding: 20px;
  white-space: nowrap;
}

#site-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  width: 95%;
}

img#brand-logo {
  max-width: 50%;  
}

a#logo {
  width: fit-content;
  text-decoration: none;
  margin: 0;
  font-size: 128px;
  font-family: 'kollektifBold';
  color: #edbb5e;
  display: inline-block;
}

input#email-input-field {
  height: 40px;
  width: 500px;
  border: solid 1px #d6d6d6;
  border-radius: 5px;
  background-color: white;
  box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 0.03);
  z-index: 20;
  font-family: 'robotoRegular';
  font-size: 18px;
  padding: 2px 10px;
}

input#email-input-field:focus {
  border-color: #a5a5a5;
  outline: none;
}

h6#error-message {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'robotoRegular';
  font-weight: normal;
  font-style: italic;
  color: red;
}

#copyright-year {
  font-size: 16px;
  margin: 0;
  margin: 20px;
  margin-left: 5px;
}

#logo-wrap {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

button#submit-email-button {
  background-position: center;
  transition: background 0.25s;
  background-color:  #edbb5e;
  outline: none;
  border: 0px;
  cursor: pointer;
  font-family: 'robotoRegular';
  letter-spacing: 0.2px;
  font-weight: bold;
  color: white;
  text-align: center;
  vertical-align: middle;
  transition: all 0.25s ease-in-out;

  margin-top: 20px;
  border-radius: 50px;
  min-width: 140px;
  min-height: 50px;
  font-size: 16px;
}

button#submit-email-button:hover {
  background: #18df99 radial-gradient(circle, transparent 1%, #18df99 1%) center/15000%;
  box-shadow: 0px 0px 2.97px 0.03px rgba(0, 0, 0, 0.15);
  transition: background 0.5s;
  color: #f5f5f5;
}

button#submit-email-button:active {
  background-color: #edbb5e;
  background-size: 100%;
  transition: background 0s;
}

label#sign-up-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-family: 'robotoRegular';
  color: #414042;
  font-size: 18px;
  font-weight: bold;
  width: 100%;
}

label#sign-up-text input {
  margin: auto 0;
  margin-top: 20px;
  margin-bottom: 10px;
}

h2#app-description {
  color: #313131;
  font-size: 30px;
  margin-bottom: 80px;
  margin-top: 20px;
}

#footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  margin: 30px 0;
}

h5#copyright {
  color: #edbb5e;
  margin-bottom: 5px;
  margin-top: 0;
  font-weight: lighter;
  font-family: 'robotoRegular';
}

@media only screen and (max-width: 767px) {
  #site-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  img#brand-logo {
    max-width: 90%;
  }

  #site-wrapper {
    height: 100%;
    width: 100%;
    justify-content: center;
  }

  #copyright-year {
    /* margin-bottom: 50px; */
    margin: 0;
    margin-top: 40px;
    margin-bottom: 30px;
  }

  h1#subtext {
    font-size: 1.4rem;
  }
  
  #logo-wrap {
    flex-direction: column;
    align-items: center;
  }

  .content-container {
    width: 95%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  a#logo {
    text-align: center;
    font-size: 80px;
    position: relative;
  }

  label#sign-up-text {
    color: #414042;
    font-size: 16px;
    font-family: 'robotoBold';
    justify-content: center;
    align-items: center;
  }

  input#email-input-field {
    min-height: 40px;
    margin: 20px auto;
    padding: 2px 10px;

    width: 90%;
    text-align: center;
  }

  h2#app-description {
    margin-top: 10px;
    margin-bottom: 60px;
    font-size: 18px;
    text-align: center;
    width: 100%;
  }

  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}